In [1]:
import json
import re
import urllib.request

from bs4 import BeautifulSoup
import pandas as pd

In [2]:
ROCHADE_URL = "https://rochadeeuropa.com/lichess-turniere-beendet/"
BUNDESLIGA_REGEXP = r"|".join(["(1. DE-Quarantäne Team Battle)",
                               "([0-9]+\. ?DE[ -]Quarantäne Teams 1-10)",
                               "(5. Quarantäne-Liga Teams 1-10)",
                               "([0-9]+\. ?Quarantäne-Bundesliga)"
                              ])

In [3]:
def get_bundesliga_tournaments():
    """
    scrape rochadeeuropa.com in order to find lichess quarantaine bundesliga matches.
    Rochade URL and regex to determine which tournament was actually a bundesliga tournaments are 
    taken from configurable global variables
    """
    # scrape rochade finished lichess tournaments
    response = urllib.request.urlopen(ROCHADE_URL)
    html = response.read()
    soup = BeautifulSoup(html, 'html.parser')
    
    # parse table
    data = []
    table = soup.find('table', attrs={'class':'tablepress tablepress-id-3'})
    table_body = table.find('tbody')
    
    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        data.append([ele.text.strip() for ele in cols])
    # filter for bundesliga
    buli_tournaments = [el for el in data if re.match(BUNDESLIGA_REGEXP, el[1])]
    return buli_tournaments

In [4]:
def get_individual_results(tournament_id):
    """
    For individual results for a given tournament we use lichess API
    """
    api_url = f"https://lichess.org/api/tournament/{tournament_id}/results"
    api_response = urllib.request.urlopen(api_url)
    player_results = api_response.read()
    return pd.DataFrame([json.loads(pl) for pl in player_results.splitlines()])

In [5]:
def get_team_results(tournament_url):
    """
    Unfortunately the API does not provide team results, hence we need to go the pedestrian way and 
    scrape it by hand
    """
    tournament_response = urllib.request.urlopen(tournament_url)
    tournament_html = tournament_response.read()
    tournament_soup = BeautifulSoup(tournament_html, 'html.parser')
    # there is a string before the json that needs to be deleted.
    # This seems a little clumsy and error prone but there is no other way when parsing manually
    str_to_delete = "lichess.tournament="
    tournament_strings = [script.text for script in tournament_soup.find_all("script") 
                          if str_to_delete in script.text]
    tournament_strings.sort(key=lambda s: len(s))
    tournament_string = tournament_strings[-1]
    tournament_json = json.loads(tournament_string[tournament_string.find(str_to_delete)+len(str_to_delete):])
    team_name_dict = tournament_json["data"]["teamBattle"]["teams"]
    relevant_keys = ["rank", "id", "score"]
    team_results = [{k: v for k, v in team_dict.items() if k in relevant_keys} for team_dict in 
                    tournament_json["data"]["teamStanding"]]
    teams_df = pd.DataFrame(team_results)
    teams_df["Team"] = teams_df["id"].map(team_name_dict)
    return teams_df

In [6]:
team_df = pd.DataFrame()
individual_df = pd.DataFrame()

buli_tournaments = get_bundesliga_tournaments()
for tournament in buli_tournaments:
    print(f"Downloading data of tournament {tournament[1]} on {tournament[0]}")
    team_df = team_df.append(get_team_results(tournament[4]))
    individual_df = individual_df.append(get_individual_results(tournament[4].split("/")[-1]))
    
team_df["count"] = 1
team_df["champion"] = (team_df["rank"] == 1).astype(int)
individual_df["count"] = 1
individual_df["champion"] = (individual_df["rank"] == 1).astype(int)

Downloading data of tournament 15. Quarantäne-Bundesliga on 05.04.
Downloading data of tournament 14. Quarantäne-Bundesliga on 02.04.
Downloading data of tournament 13. Quarantäne-Bundesliga on 31.03.
Downloading data of tournament 12. Quarantäne-Bundesliga on 29.03.
Downloading data of tournament 11. Quarantäne-Bundesliga on 26.03.
Downloading data of tournament 10. Quarantäne-Bundesliga on 25.03.
Downloading data of tournament 9. Quarantäne-Bundesliga on 24.03.
Downloading data of tournament 8. Quarantäne-Bundesliga on 23.03.
Downloading data of tournament 7. Quarantäne-Bundesliga on 22.03.
Downloading data of tournament 6. Quarantäne-Bundesliga on 21.03.
Downloading data of tournament 5. Quarantäne-Liga Teams 1-10 on 19.03.
Downloading data of tournament 4. DE Quarantäne Teams 1-10 on 18.03.
Downloading data of tournament 3. DE-Quarantäne Teams 1-10 on 17.03.
Downloading data of tournament 2. DE-Quarantäne Teams 1-10 on 16.03.
Downloading data of tournament 1. DE-Quarantäne Team Battle on 15.03.

In [7]:
all_time_teams = team_df.groupby("Team", as_index=False).agg(
    {"score": "sum", "count": "count", "champion": "sum", "rank": "mean"}).sort_values("score", ascending=False)
all_time_teams.columns = ["Team", "Gesamtpunkte", "Teilnahmen", "Meisterschaften", "Durchschnittsplatzierung"]
all_time_teams.index = range(1, len(all_time_teams) + 1)
all_time_indiv = individual_df.groupby("username", as_index=False).agg(
    {"score": "sum", "count": "count", "champion": "sum", "performance": "mean", "rank": "mean", }).sort_values("score", ascending=False)
all_time_indiv.columns = ["Name", "Gesamtpunkte", "Teilnahmen", "Turniersiege", "Durchschnittsperformance", "Durchschnittsplatzierung"]
all_time_indiv.index = range(1, len(all_time_indiv) + 1)
all_time_indiv["Durchschnittsscore"] = all_time_indiv["Gesamtpunkte"] / all_time_indiv["Teilnahmen"]

In [8]:
all_time_teams.reset_index().rename(columns={"index": "Rang"})

,Rang,Team,Gesamtpunkte,Teilnahmen,Meisterschaften,Durchschnittsplatzierung
0,1,Bierstube MUC,3975,15,3,2.533333
1,2,HSK Lister Turm,3035,11,4,3.636364
2,3,Oxfordgang,2692,12,0,5.750000
3,4,KSK Dr. Lasker 1861 e.V.,2365,9,0,5.222222
4,5,SK Landau 1908 e.V.,2254,8,0,5.875000
5,6,TSV Schöniach,2226,9,0,5.222222
6,7,Die Nordlichter,1859,9,3,5.111111
7,8,Hessische Schachjugend,1616,6,1,6.333333
8,9,Kingdom,1287,4,0,3.750000
9,10,Wiener Kandidaten und Fake Meister,1203,5,0,5.800000
10,11,SV Werder Bremen,1193,6,0,6.500000
11,12,Die oagen,1174,4,0,7.000000
12,13,SK Münster 1932,1141,6,0,6.166667
13,14,SF Brackel 30,1031,4,1,6.000000
14,15,Hamburger SK,1022,5,0,7.000000
15,16,Sfr. Heidesheim,1021,3,1,5.666667
16,17,NDK Chess,821,3,0,6.333333
17,18,Delfintherapie,760,2,2,1.000000
18,19,Die Hirschnackenbrecher,750,4,0,5.500000
19,20,Ergoldinger Jugend,620,2,0,5.000000
20,21,Lörrach,596,3,0,7.000000
21,22,Deutschsprachige,412,3,0,7.333333
22,23,SC Kastellaun & friends,338,2,0,6.500000
23,24,SC Vaterstetten-Grasbrunn,252,2,0,6.500000
24,25,Schachklub Kelheim,250,2,0,8.000000
25,26,Rochade Europa - Schachzeitung,229,2,0,7.000000
26,27,Amateur Chess Organization,224,2,0,6.500000
27,28,Tajamar-Ajedrez,167,1,0,10.000000
28,29,SB Borken,147,1,0,10.000000
29,30,SF Neuberg,137,1,0,10.000000
30,31,German Chess Team,118,1,0,7.000000
31,32,Tiroler Schachkader,116,1,0,9.000000
32,33,SV Erkenschwick,103,1,0,8.000000
33,34,Austrian Lichess Players,47,1,0,10.000000

In [9]:
all_time_indiv.round({"Durchschnittsplatzierung": 1, "Durchschnittsperformance": 1, "Durchschnittsscore": 1})

,Name,Gesamtpunkte,Teilnahmen,Turniersiege,Durchschnittsperformance,Durchschnittsplatzierung,Durchschnittsscore
1,SomeMightSay,821,15,4,2570.9,4.1,54.7
2,psammenitos,508,10,4,2577.1,16.7,50.8
3,Satscho,487,15,0,2339.6,37.3,32.5
4,Kabeljaukrieger,481,14,0,2391.2,29.5,34.4
5,Chillkroete77,470,12,1,2356.2,16.5,39.2
6,P1W4,418,15,0,2177.1,55.5,27.9
7,Eldrail,415,11,0,2523.5,26.7,37.7
8,fluffy_cactus,408,15,0,2232.7,58.2,27.2
9,Veez,391,12,0,2349.1,33.0,32.6
10,Blend99,388,8,0,2506.6,8.0,48.5
11,Donnerhall,338,9,0,2500.4,29.1,37.6
12,Potzbl1tz,338,15,0,2207.7,72.7,22.5
13,tobi0709,319,7,0,2488.3,13.7,45.6
14,Landau96,317,8,0,2454.6,21.1,39.6
15,Unkreativ3,308,10,0,2440.6,43.4,30.8
16,ChevCheIios,305,10,0,2364.4,41.1,30.5
17,karasso,298,10,0,2219.9,51.5,29.8
18,Ketchup,296,10,0,2421.3,40.8,29.6
19,PeterLaFleur,294,7,0,2495.4,13.1,42.0
20,StephanBecking,292,8,0,2375.9,41.0,36.5
21,TobiasTSV,283,12,0,2108.6,67.7,23.6
22,Eloist,278,8,0,2367.9,29.8,34.8
23,simplesimpson03,273,11,0,2106.5,65.5,24.8
24,elf19074,269,8,0,2393.8,51.6,33.6
25,wisibada,266,9,0,2307.3,51.2,29.6
26,Chessbard1972,263,9,0,2292.8,52.3,29.2
27,bachess76,262,8,0,2394.8,43.2,32.8
28,Jonas95,257,8,0,2297.9,46.2,32.1
29,El_Precisione,257,6,0,2540.3,13.7,42.8
30,AngelikaCan,252,11,0,2156.8,73.1,22.9
...,...,...,...,...,...,...,...
834,anacak35,0,1,0,NaN,151.0,0.0
835,alejandrofabian,0,1,0,NaN,170.0,0.0
836,kykskak,0,1,0,1113.0,112.0,0.0
837,akash2412,0,2,0,NaN,163.5,0.0
838,Sweet92,0,1,0,NaN,105.0,0.0
839,Huubercitoo,0,1,0,NaN,149.0,0.0
840,Hyper_Beast777,0,1,0,NaN,116.0,0.0
841,Daringert86,0,1,0,1187.0,152.0,0.0
842,Posetbey1938,0,1,0,NaN,163.0,0.0
843,KingChessPro,0,1,0,NaN,141.0,0.0
844,Bao_Anh_Le_Bui,0,1,0,NaN,150.0,0.0
845,Esacwollip,0,1,0,1095.0,114.0,0.0
846,BekzodKhusanov1998,0,1,0,NaN,133.0,0.0
847,Ron01,0,1,0,1701.0,154.0,0.0
848,RoyalManiac,0,1,0,NaN,138.0,0.0
849,SABrandonH,0,1,0,NaN,156.0,0.0
850,Jerozapata,0,1,0,1803.0,143.0,0.0
851,SaganGollum,0,1,0,1751.0,135.0,0.0
852,Cybertron,0,2,0,1312.0,129.5,0.0
853,punaniebreyani,0,1,0,1059.0,115.0,0.0
854,Saukochess,0,1,0,1509.0,168.0,0.0
855,Jarycoo,0,1,0,1257.0,110.0,0.0
856,ScheschA,0,1,0,1547.0,145.0,0.0
857,IngoLenssen,0,2,0,1509.0,123.5,0.0
858,Smodoo,0,1,0,1645.0,103.0,0.0
859,CHAMERKIT,0,1,0,1829.0,156.0,0.0
860,nuzzo-gall,0,1,0,1063.0,121.0,0.0
861,Ich-biete-Remis,0,1,0,1156.0,154.0,0.0
862,IWANTMYMOMMY1782,0,1,0,1100.0,113.0,0.0
863,hasankemal10,0,1,0,NaN,157.0,0.0

In [10]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

def connect_to_spreadsheet():
    scope = ['https://spreadsheets.google.com/feeds',
             'https://www.googleapis.com/auth/drive']

    credentials = ServiceAccountCredentials.from_json_keyfile_name('/home/paul/Downloads/dummyproject-273213-6c2b9c180973.json', scope)

    gc = gspread.authorize(credentials)
    return gc

In [11]:
import gspread_dataframe as gd

def write_to_spreadsheet(df, sheet_connection):
    ws = sheet_connection.open("Ewige Quarantäne-Bundesligatabelle").worksheet("Sheet1")
    gd.set_with_dataframe(ws, df)

In [12]:
df_to_write = all_time_teams.reset_index().rename(columns={"index": "Rang"}).round({"Durchschnittsplatzierung": 1})

In [13]:
conn = connect_to_spreadsheet()

In [14]:
write_to_spreadsheet(df_to_write, conn)